<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Welcome to <%=appData.appName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
    </head>
    <body>
        <%- include('headerMenu') %>
        <main class="content">
            <h1>About <%=appData.appName%></h1>
            <p>Food Manager was developed by Jake Brunnen.</p>
            <p>It was developed to provide the admin functions for the food manager flutter app</p>
            <p><a href="https://github.com/jbrun001/foodmanager">https://github.com/jbrun001/foodmanager</a></p>
            <p><a href="https://jbrun001.github.io/allprojects.html">My portfolio</a></p>
          </main>
        <%- include('footerMenu') %>
    </body>
</html>