<!-- menu -->
<aside class="menu" id="menu">
  <div class="menu-drawer" id="menu-drawer">
    <i class="material-icons">menu</i>
  </div>
  <div class="menu-item">
    <a href="/" class="menu-link"
      ><i class="material-icons">dashboard</i><span>Dashboard</span>
    </a>
  </div>
  <% if (loggedInStatus === 'not logged in') { %>
  <div class="menu-item">
    <a href="/users/login" class="menu-link"
      ><i class="material-icons">login</i><span>Login</span></a
    >
  </div>
  <% }else { %>
  <div class="menu-item">
    <a href="/ingredients/review-moqs" class="menu-link"
      ><i class="material-icons">bar_chart</i><span>Update Blank MOQs</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/scrapes/createBatch" class="menu-link"
      ><i class="material-icons">cloud_download</i><span>Scrape MOQs</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/ingredients/updateIngredients" class="menu-link"
      ><i class="material-icons" style="color: orange">warning</i
      ><span>Auto Create Ingredients</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/ingredients/reviewDuplicates" class="menu-link"
      ><i class="material-icons">compare_arrows</i
      ><span>De-dupe Ingredients</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/ingredients/cleanupUnused" class="menu-link"
      ><i class="material-icons">inventory_2</i><span>Unused Ingredients</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/recipes/fixThumbnails" class="menu-link"
      ><i class="material-icons">photo</i><span>Fix Thumbnails</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/recipes/add/form" class="menu-link"
      ><i class="material-icons">restaurant_menu</i><span>Add Recipe</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/recipes/add" class="menu-link"
      ><i class="material-icons">code</i><span>Add Recipe JSON</span>
    </a>
  </div>

  <div class="menu-item">
    <a href="/recipes/search" class="menu-link"
      ><i class="material-icons">search</i><span>Search/Edit Recipes</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/users/manage" class="menu-link"
      ><i class="material-icons">manage_accounts</i><span>Manage Users</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/reports/weeklySummary" class="menu-link"
      ><i class="material-icons">file_download</i><span>Export Waste Data</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="/users/logout" class="menu-link"
      ><i class="material-icons">logout</i><span>Logout</span>
    </a>
  </div>
  <% } %>
</aside>

<!-- header that stays at the top of the page -->
<header class="header">
  <div class="header-title">Food Manager Admin App</div>
  <div class="user-info">
    <% if (loggedInStatus === 'not logged in') { %> not logged in <% } else { %>
    <i class="material-icons">account_circle</i
    ><span><%= loggedInStatus %></span>
    <% } %>
  </div>
</header>
